.flex_con{
  display: -moz-box;  /* Firefox */
  display: -ms-flexbox;    /* IE10 */
  display: -webkit-box;    /* Safari */
  display: -webkit-flex;    /* Chrome, WebKit */
  display: box;
  display: flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: gray;
}
.v_
.m_con{
  display: flex;
}

.m_con_c{
  display: flex;
  justify-content: center;

}
.m_con_s{
  display: flex;
  justify-content: flex-start;
}
.m_con_e{
  display: flex;
  justify-content: flex-end;
}
.m_con_s_c{
  display: flex;
 align-items: center;
}
.m_con_c_c{
  display: flex;
  justify-content: center;
  align-items: center;
}
.m_con_c_e{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.m_con_e_e{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.m_con_sb{
  display: flex;
  justify-content: space-between;
}



















