.nav >ul> li{
  display:inline-block;
  margin: 5px;
  position: relative;
}
.nav ul{
  height: 30px;
  text-align: center;
  z-index: 9;
}
.nav .enter{
 visibility: visible;
}
.nav .leave{
  visibility: hidden;
}